<ion-content padding scrollY="false">


    <div class="zona-libre-de-click">
        <ion-icon name="arrow-back" color="light" class="back-icon" (click)="dismiss()">
        </ion-icon>
    </div>

    <div class="posicion-texto-explicativo">
        <ion-text color="light">
            Haga click en la pantalla para continuar
        </ion-text>
    </div>
    <ion-slides #slidesElem>
        <ion-slide *ngFor="let slide of slides" (click)="nextSlide()">
            <ion-text class="texto-slide">
              <p>
                {{slide.texto}}
              </p>
            </ion-text>
        </ion-slide>
    </ion-slides>

</ion-content>
