ion-content{
  --background: var(--ion-color-libroMeditacion2) !important;
}

ion-slides{
  background: transparent;
  height: 100%;
}



.posicion-texto-explicativo{
  position: absolute;
  bottom: 3vw;
  text-align: center;
   width: 100%;

 }

.texto-slide{
  font-size: 5vw;
  font-weight: lighter;
  color: var(--ion-color-light);
}
