ion-content{
  --background: var(--ion-color-primary) !important;
}

ion-slides{
  background: transparent;
  height: 100%;
}



.texto-slide{
  font-size: 5vw;
  font-weight: lighter;
  color: var(--ion-color-light);
}


