<ion-content padding scrollY="false">

    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <ion-button expand="block" (click)="irALogin()">
                    <ion-text>
                        Ya tengo una cuenta
                    </ion-text>
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <ion-button expand="block" (click)="irARegister()">
                    <ion-text>
                        Registrarme
                    </ion-text>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>

    <img src="assets/imgs/logo.png" class="logo fadeIn" *ngIf="initLogo">

    <ion-row>
        <ion-col size="12">
            <img src="assets/gifs/login-gif.gif">
        </ion-col>
    </ion-row>

</ion-content>