<app-toolbar-categoria (dismiss) = "dismiss()" (download)="download()" [downloadIconColor]="downloadIconColor" [downloading]="downloading" [categoria] = "'a'"> 

</app-toolbar-categoria>
<ion-content padding scrollY="false">
    <ion-slides #slides>
        <ion-slide *ngFor="let media of medias; let i = index">
            <ion-row>
                <ion-col size="12">
                    <div class="play-button-circle posicion-play" [id]="'play-button-' + i" (click)="playPause(media.url, i )">
                        <ion-icon [src]="'assets/icon/'+ media.icon +'.svg'" color="libroMeditacion3">
                        </ion-icon>
                    </div>
                </ion-col>

                <ion-col size="12" class="center">
                  <app-progress-bar [progress]="media.progress" color="rgb(234, 185, 167)"
                                     attr.id="{{media.id_progress}}"
                                     [ngClass]="{'fadeIn': media.fadeIn}">
                  </app-progress-bar>
                </ion-col>
                <ion-col size="6" class="center" [ngClass]="{'fadeIn': media.fadeIn}">
                  <ion-text color="violeta" attr.id="{{media.id_minutero}}">{{media.minutero ? media.minutero: '00:00'}}</ion-text>
                </ion-col>
                <ion-col size="6" class="center" [ngClass]="{'fadeIn': media.fadeIn}">
                  <ion-text color="violeta" attr.id="{{media.id_minutero_duracion}}">{{media.minutero_duracion ? media.minutero_duracion: '00:00'}}</ion-text>
                </ion-col>
                <ion-col size="12" class="center">
                  <app-loader categoria = "a" attr.id="{{media.id_loader}}"></app-loader>
                </ion-col>

                <ion-col size='12'>
                  <ion-text color='violeta' style='font-size: 8vw;'>
                    Sonido binaural Nº {{i + 1}}
                  </ion-text>
                </ion-col>
                <ion-col size='12' *ngIf='media.texto'>
                  <ion-text color='violeta'>
                    {{media.texto}}
                  </ion-text>
                </ion-col>
            </ion-row>
            <div class="posicion-texto-explicativo" *ngIf="i == 0">
                <ion-text color="light">
                    Deslizar hacia la derecha
                </ion-text>
            </div>
        </ion-slide>
    </ion-slides>


</ion-content>
