<ion-content>
 <ion-icon name="arrow-back" class="back-icon-custom" (click)="dismissClick()">
  </ion-icon>
  <ion-grid style="margin-top:14vh">
  	<ion-row size="12" align-items-center justify-content-center style="flex-direction: column">
  		<ion-avatar style=" height: auto;
    						width: 27vw;">
		  <img src="assets/imgs/claudia.jpeg">
		</ion-avatar>
		<ion-text style="font-size: 1.3em" color="darkBlue">
  			<b>Claudia roiz</b>
  			
  		</ion-text>
  		<ion-text color="darkBlue">
  			<i>Fundadora de MeditAr</i>
  		</ion-text>
  	</ion-row>
  	<ion-row size="12" align-items-center justify-content-center style="padding: 8vw;">
  		<ion-text style="text-align: justify;" color="darkBlue">
  			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse auctor eu urna in ultricies. Nullam consectetur sit amet nisl nec euismod. Sed scelerisque diam massa, ac feugiat ante sodales id. Integer eget cursus massa. Sed convallis nec magna sit amet euismod. Fusce placerat nec ante tincidunt egestas.
  		</ion-text>
  	</ion-row>
  	 <ion-row size = "12" align-items-center justify-content-center>
  		<img src="assets/imgs/logo.png" class="logo" style="width: 40vw;">
  	</ion-row>
  	<ion-row size="12" align-items-center justify-content-center style="    padding-left: 16vw;
    padding-right: 16vw;">
  		<ion-text style="text-align: justify; margin-bottom: 1em" color="darkBlue">
  			Podes contribuir con nosotros. Cualquier tipo de ayuda es bienvenida, ya sea económica, meditaciones guíadas nuevas, sonidos de relajación, tu feedback o lo que vos pienses que pueda ser de valor. 
  		</ion-text>
        <ion-button expand="block">
            <ion-text color="light" (click)="contacto()">
                Contactate con nosotros
            </ion-text>
        </ion-button>
  	</ion-row>

  </ion-grid>

</ion-content>