<ion-content padding scrollY="false">

    <ion-icon name="arrow-back" color="darkBlue" class="back-icon" (click)="dismiss()">

    </ion-icon>
    <ion-img src="assets/imgs/logo.png"></ion-img>

    <form [formGroup]="login" (ngSubmit)="emailLogin()">
        <ion-grid>
            <ion-row>
                <ion-col size="12">
                    <ion-item>
                        <ion-label color="darkBlue" position="floating">
                            <ion-text>
                                Email
                            </ion-text>
                        </ion-label>
                        <ion-input type="email" inputmode="email" color="darkBlue" autofocus formControlName="email">
                        </ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <ion-item>
                        <ion-label color="darkBlue" position="floating">
                            <ion-text>
                                Contraseña
                            </ion-text>
                        </ion-label>
                        <ion-input type="password" inputmode="password" color="darkBlue" clearOnEdit formControlName="password">
                        </ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-grid style="padding-top: 2vw;">
            <ion-row>
                <ion-col size="12">
                    <ion-button expand="block" type="submit" id='ingresar_buttton' [disabled]='disable_ingresar'>
                        <ion-text color="light">
                            Ingresar
                        </ion-text>
                    </ion-button>
                </ion-col>
            </ion-row>
            <ion-row>
                <!--
                <ion-col size="12">
                    <ion-button expand="block" (click)="faecbookLogin()">
                        <ion-icon slot="start" name="logo-facebook" color="light">
                        </ion-icon>
                        <ion-text color="light">
                            Ingresar con facebook
                        </ion-text>
                    </ion-button>
                </ion-col>
                -->
            </ion-row>
        </ion-grid>

    </form>


</ion-content>