// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
/** Ionic CSS Variables **/
:root {
    --ion-color-primary: #A6D8EB;
    --ion-color-primary-rgb: 166,216,235;
    --ion-color-primary-contrast: #000000;
    --ion-color-primary-contrast-rgb: 0,0,0;
    --ion-color-primary-shade: #92becf;
    --ion-color-primary-tint: #afdced;
    --ion-color-secondary: #5E5FA4;
    --ion-color-secondary-rgb: 94,95,164;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255,255,255;
    --ion-color-secondary-shade: #535490;
    --ion-color-secondary-tint: #6e6fad;
    --ion-color-tertiary: #f4f5f8;
    --ion-color-tertiary-rgb: 244,245,248;
    --ion-color-tertiary-contrast: #000000;
    --ion-color-tertiary-contrast-rgb: 0,0,0;
    --ion-color-tertiary-shade: #d7d8da;
    --ion-color-tertiary-tint: #f5f6f9;
    --ion-color-success: #10dc60;
    --ion-color-success-rgb: 16,220,96;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255,255,255;
    --ion-color-success-shade: #0ec254;
    --ion-color-success-tint: #28e070;
    --ion-color-warning: #ffce00;
    --ion-color-warning-rgb: 255,206,0;
    --ion-color-warning-contrast: #ffffff;
    --ion-color-warning-contrast-rgb: 255,255,255;
    --ion-color-warning-shade: #e0b500;
    --ion-color-warning-tint: #ffd31a;
    --ion-color-danger: #f04141;
    --ion-color-danger-rgb: 245,61,61;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255,255,255;
    --ion-color-danger-shade: #d33939;
    --ion-color-danger-tint: #f25454;
    --ion-color-dark: #222428;
    --ion-color-dark-rgb: 34,34,34;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255,255,255;
    --ion-color-dark-shade: #1e2023;
    --ion-color-dark-tint: #383a3e;
    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152,154,162;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255,255,255;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;
    --ion-color-light: #f4f5f8;
    --ion-color-light-rgb: 244,244,244;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0,0,0;
    --ion-color-light-shade: #d7d8da;
    --ion-color-light-tint: #f5f6f9;
    --ion-color-darkCustom: #221F20;
    --ion-color-darkCustom-rgb: 34,31,32;
    --ion-color-darkCustom-contrast: #ffffff;
    --ion-color-darkCustom-contrast-rgb: 255,255,255;
    --ion-color-darkCustom-shade: #1e1b1c;
    --ion-color-darkCustom-tint: #383536;
    --ion-color-darkBlue: #09094D;
    --ion-color-darkBlue-rgb: 9,9,77;
    --ion-color-darkBlue-contrast: #ffffff;
    --ion-color-darkBlue-contrast-rgb: 255,255,255;
    --ion-color-darkBlue-shade: #080844;
    --ion-color-darkBlue-tint: #22225f;

    --ion-color-libroMeditacion1:    rgb(234, 185, 167);
    --ion-color-libroMeditacion2:  rgb(62, 70, 132);
    --ion-color-libroMeditacion3: rgb(116, 118 ,165);
    --ion-color-libroMeditacion4:   rgb(195,193,212);
}

$customColors: (
    'darkCustom',
    "libroMeditacion1",
    "libroMeditacion2",
    "libroMeditacion3",
    "libroMeditacion4"
);
@each $color in $customColors {
    .ion-color-#{$color} {
        --ion-color-base: var(--ion-color-#{$color}) !important;
        --ion-color-base-rgb: var(--ion-color-#{$color}-rgb) !important;
        --ion-color-contrast: var(--ion-color-#{$color}-contrast) !important;
        --ion-color-contrast-rgb: var(--ion-color-#{$color}-contrast-rgb) !important;
        --ion-color-shade: var(--ion-color-#{$color}-shade) !important;
        --ion-color-tint: var(--ion-color-#{$color}-tint) !important;
    }
}

.ion-color-darkBlue {
    --ion-color-base: var(--ion-color-darkBlue, #09094D) !important;
    --ion-color-base-rgb: var(--ion-color-darkBlue-rgb, 9,9,77) !important;
    --ion-color-contrast: var(--ion-color-darkBlue-contrast, #ffffff) !important;
    --ion-color-contrast-rgb: var(--ion-color-darkBlue-contrast-rgb,255,255,255) !important;
    --ion-color-shade: var(--ion-color-darkBlue-shade, #080844) !important;
    --ion-color-tint: var(--ion-color-darkBlue-tint, #22225f) !important;
}
