<ion-content padding>
    <div style='text-align: center;font-size: 5vw;'>
        <ion-text color='violeta'>
            Meditar es una app libre pensada para ser una experiencia colaborativa , sin fines de lucro,para la expansión de la conciencia.
        </ion-text>
    </div>

    <ion-button expand="block" type="submit" (click)='abrirContribuiModal()'>
        <ion-text color="light">
            Participá de la experiencia
        </ion-text>
    </ion-button>

    <div class="rectangulo categoria-A-fondo" (click)="checkInitializedCategorie('categoria_a')">
        <div class="texto-categoria">
            <ion-text color="light">
                Sonidos binaurales
            </ion-text>
        </div>
    </div>
    <div class="rectangulo categoria-B-fondo texto-B" (click)="checkInitializedCategorie('categoria_b')">
        <div class="texto-categoria">
            <ion-text color="light">
                Meditaciones
            </ion-text>
        </div>
    </div>
    <div class="rectangulo categoria-C-fondo" (click)="checkInitializedCategorie('categoria_c')">
        <div class="texto-categoria" style="top:10vw !important; ">
            <ion-text color="light">
                Música <br>relajante
            </ion-text>
        </div>
    </div>
    <!--
    <div class="rectangulo categoria-D-fondo" (click)="checkInitializedCategorie('categoria_d')">
        <div class="texto-categoria" style="top:10vw !important; ">
            <ion-text color="light">
                Videos <br><span style="font-size:28px">e imagenes </span><br><span style="font-size:22px">para relajar</span>
            </ion-text>
        </div>
    </div> 
    -->
    <div class="rectangulo categoria-E-fondo" (click)="checkInitializedCategorie('categoria_e')">
        <div class="texto-categoria">
           <ion-text color="light">
                Meditaciones 2
            </ion-text>
        </div>
    </div>
</ion-content>
