<ion-content padding>
    <div class="rectangulo categoria-A-fondo" (click)="checkInitializedCategorie('categoria_a')">
        <div class="texto-categoria">
            <ion-text color="light">
                Sonidos binaurales
            </ion-text>
        </div>
    </div>
     <div class="rectangulo categoria-B-fondo texto-B" (click)="checkInitializedCategorie('categoria_b')">
        <div class="texto-categoria">
            <ion-text color="light">
                Meditaciones
            </ion-text>
        </div>
    </div>
    <div class="rectangulo categoria-C-fondo" (click)="checkInitializedCategorie('categoria_c')">
        <div class="texto-categoria" style="top:10vw !important; ">
            <ion-text color="light">
                Música <br>relajante
            </ion-text>
        </div>
    </div>
</ion-content>
