.container{
  height: 30vw;
  width: 25vw;
  border-radius: 3vw;
  background: var(--ion-color-libroMeditacion2) url("../../../assets/imgs/image-4.png")  no-repeat center center / cover;
  padding-top: 12vw;
}

.text{
  font-family: Myriad;
  color: var(--ion-color-light);
}
