ion-content{
  --background: var(--ion-color-libroMeditacion1) !important;
}

ion-slides{
  background: transparent;
  height: 100%;
}





.texto-slide{
  font-size: 5vw;
  font-weight: lighter;
  color: var(--ion-color-light);
}

.back-icon{
  position:absolute;
  left:6vw;
  top:6vw;
  font-size: 12vw;
  color:white;
}

.saltear-intro{
  position:absolute;
  right:11vw;
  top:8vw;
  font-size: 10vw;
  color:white;
}
