<ion-content padding scrollY="false">


    <div class="zona-libre-de-click">
        <ion-icon name="arrow-back" color="light" class="back-icon" (click)="dismiss()" class='back-icon-slides'>
        </ion-icon>
        <ion-text color="light" style='font-size:5vw' (click)="irACategoria()" class='saltear-intro-slides'>
            <u>Saltear intro</u>
        </ion-text>
    </div>

    <div class="posicion-texto-explicativo">
        <ion-text color="light">
            Haga click en la pantalla para continuar
        </ion-text>
    </div>
    <ion-slides #slidesElem>
        <ion-slide *ngFor="let slide of slides" (click)="nextSlide()" style="text-transform: none; 
            flex-wrap:wrap;    
            padding-top: 30vh;
            padding-bottom: 22vh;">
              <div class="texto-slide" *ngFor="let parrafo of slide.parrafos" style="margin-top: -1vh;">
                <p [innerHtml] = "parrafo + '<br>'" >
                </p>
              </div>
              
        </ion-slide>
    </ion-slides>

</ion-content>
