ion-content{
  --background: var(--ion-color-libroMeditacion1) url('../../../../assets/imgs/image-41.png') no-repeat 101% center / cover;

}

ion-toggle{
  position:absolute;
  right:7vw;
  top: 3vw;
}


.play-button-circle{
  background: var(--ion-color-libroMeditacion4);
}



.frases{
  position:absolute;
  bottom: 13vw;
  text-align: center;
  width: 100%;
  z-index: 999;
}

.posicion-texto-explicativo{
  position: absolute;
  bottom: 3vw;
  text-align: center;
  width: 100%;
 }

ion-slides{
  background: transparent;
  height: 100%;
}
